// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove_order{
  margin: 10px 0 0 0;

  a{
    text-align: center;
  }

  .warning{
    margin-bottom: 10px;
  }
}