<h1>Gerar relatório</h1>

<div class="left_content">
  <%= render 'form' %>
</div>

<div class="right_content">
  <p class="info">Para gerar um relatório, escolha o mês desejado e um serviço ou um suprimento.</p>
</div>